.catalog-preview {
    h1 {
        text-align: center;
        font-size: 35px;
        color: #2B2B2B;
        padding-top: 45px;
    }

   .catalog-preview-tiles {
        display: inline-block;
        width: 1356px;
        margin-top: 10px;
   }

   img {
       float: left;
       width: 321px;
       height: 292px;
       padding: 5px;
       margin-left: 12px;
   }
}