.header-top {
  background: url(/img/banners/banner.png) no-repeat center center;
  background-size: cover;
  height: 300px;
}

.header-social {
  color: $white;
  display: flex;
  margin-left: 300px;
  padding-top: 20px;

  i{
    width: 40px;
    height: 16px;
  }

  .CALL {
    font-size: 14px;
    font-weight: 200;
    white-space: nowrap;
  }
  
}

.header-controls {
  margin-top: -30px;

 .search {
  border: 1px solid #CCCCCC;
  float: right;
  margin-right: 450px;
  margin-top: 10px;
  width: 170px;
  height: 30px;
 }
}

.user-controls {
  margin-left: 920px;
  margin-top: 20px;
  display: flex;
  
  i {
    color: #2B2B2B;
    width: 30px;
    height: 19px;
    margin-left: 20px;
  }
}
